@import models.pages.GameLine
@(g: GameLine)
<tr>
    <td>@g.dateStr</td>
    <td>@if(g.isAt) {
        @@
    } else {
        vs.
    }</td>
    <td><a href=@routes.ApplicationController.team(g.oppKey)> @g.oppName</a></td>
    <td class="text-center">
    @if(g.isWin.getOrElse(false)){
        <span class="text-success">@g.wlStr</span>
    } else {
        <span class="text-danger">@g.wlStr</span>
    }
    </td>
    <td class="text-right">@g.score</td>
    <td class="text-right">@g.oppScore</td>
</tr>