.condensed-page-header {
    padding-bottom: 3px;
    margin: 20px 0 5px;
    border-bottom: 1px solid #eee;
}

.quote {
    position: absolute;
    left: 150px;
    top: 20px;
    width: 100%;
    color: #999;
    font-size: 100%;
    font-weight: normal;

}

.table-schedule {
    font-size: smaller;
}

.table-schedule td {
    padding: 0px;
    margin: 0px;
}

.stat-summary-table td {
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    text-align: right;
}

.stat-summary-table th {
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    text-align: right;
}

.teamlist {
    list-style: none;
    font-size: small;
}

.panel-heading a.expando {
    text-decoration: none;
    color: inherit;
}

.panel-heading a.expando:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
}

.panel-heading a.expando[aria-expanded="false"]:before {
    content: "\f054";
}

.panel-heading a.expando[aria-expanded="true"]:before {
    content: "\f078";
}

.panel-heading a i {
    cursor: pointer;
    color: blue;
}


img.spin:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 3;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.jumbofridge {
    background: #780206; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #780206, #061161); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #780206, #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 35px;
}

.jumbofridge h1 {
    color: white;
    font-size: 128px;
    font-weight: bold;
}

.table-smushed > thead > tr > th,
.table-smushed > tbody > tr > th,
.table-smushed > tfoot > tr > th,
.table-smushed > thead > tr > td,
.table-smushed > tbody > tr > td,
.table-smushed > tfoot > tr > td {
    padding: 1px 1px 0px 1px;
    font-size: 80%;
    overflow: hidden;
    white-space:nowrap;
}

.table-smushed table > thead > tr > th {
    padding: 1px 1px 0px 1px;
    font-size: 66%;

}


.deepfij75-25-input  {
    margin-bottom:15px !important;
}

.deepfij75-25-input > label {
    width: 20%;
}

.deepfij75-25-input > select,
.deepfij75-25-input > text,
.deepfij75-25-input > input {
    width: 70% !important;%
}

.deepfij50-50-input  {
    margin-bottom:15px !important;
}

.deepfij50-50-input > label {
    width: 45%;
}

.deepfij50-50-input > select,
.deepfij50-50-input > text,
.deepfij50-50-input > input {
    width: 45% !important;%
}

.deepfij100-input {
    width:100% !important;
}
.deepfij100-fg {
    width:100% !important;
    padding: 5px;
}


.bar {
    fill: #76f;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.y.axis path {
    display: none;
}

.badge-red {
    background-color: #d9534f !important;
}
.badge-green {
    background-color: #5cb85c !important;
}
.badge-blue {
    background-color: #5bc0de !important;
}
.badge-orange {
    background-color: #f0ad4e !important;
}