@import utils.ServiceConfig
@(services:List[ServiceConfig], user:User)(implicit request: RequestHeader, flash: Flash)
    @main("Services Status", Some(user)) {
    <h1>Deepfij Services</h1>
    <div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Host</th>
                    <th>Port</th>
                    <th>Server</th>
                    <th>Version</th>
                    <th>Scala Version</th>
                    <th>sbt Version</th>
                    <th>Build Number</th>
                    <th>Build Date</th>
                    <th>Status</th>
                    <th>As Of</th>
                </tr>
            </thead>
            <tbody>
            @for(svc<-services){
                <tr>
                    <td>@{svc.key}</td>
                    <td>@{svc.host}</td>
                    <td>@{svc.port}</td>
                    <td>@{svc.name}</td>
                    <td>@{svc.version}</td>
                    <td>@{svc.scalaVersion}</td>
                    <td>@{svc.sbtVersion}</td>
                    <td>@{svc.buildNumber}</td>
                    <td>@{svc.builtAt}</td>
                    @if(svc.isOk){
                        <td class="text-success">OK</td>
                    } else {
                        <td class="text-danger">FAIL</td>
                    }
                    <td>@{svc.asOf}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}