@import models.pages.TeamPage
@(user:Option[User], p:TeamPage)(implicit request: RequestHeader, flash: Flash)
    @main(p.name,user) {
        <div>
            <h1 style="padding-top:.333rem; font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 3.5rem;"><img style="width:5rem" src=@p.logoLtBg  alt=@p.name />@{p.name} @{p.nickname}</h1>
            <h3>@p.overallRecord.wins-@p.overallRecord.losses, @p.conferenceRecord.wins-@p.conferenceRecord.losses @p.conferenceName </h3>
            <ul>
            @for(gl <- p.games){
                @{components.gameLine(gl)}
            }
            </ul>
        </div>
    }
